<template>
  <footer class="text-muted">
    <div class="container">
      <back-to-top
        :visibleoffset="visibleoffset"
        :text="text"
        :bottom="bottom"
        :right="right"
        :scroll-fn="scrollFn"
        :class="{ 'vue-back-to-top--is-footer': isBackTopFooter }"
        @scrolled="scrolled"
      />
      <p>
        This is the footer component.
        <br />Album example is © Bootstrap, but please download and customize it
        for yourself!
      </p>
    </div>
  </footer>
</template>
<style>
footer {
  margin: 25px 0;
}
</style>
<script>
import BackToTop from 'vue-backtotop'
export default {
  name: 'App',
  components: { BackToTop },
  data() {
    return {
      isBackTopFooter: false,
      visibleoffset: 600,
      text: 'Back to top',
      bottom: '40px',
      right: '40px'
    }
  },
  watch: {
    visibleoffset(newVal, oldVal) {
      document.body.style.height = parseInt(newVal) + 2000 + 'px'
    }
  }
}
</script>
