<template>
  <div class="vue-main">
    <b-container>
      <b-row>
        <b-col>
          <b-button :to="'/'">Home</b-button>
          <b-button :to="'/articles'">Articles</b-button>
          <h1>{{ article.title }}</h1>
          <b-img-lazy
            fluid
            :show="true"
            :src="'https://drupal.ist/' + article.bigimage"
            :alt="article.bigimage_alt | trim"
          />
          <p :inner-html.prop="article.summary | replaceinline"></p>
        </b-col>
      </b-row>
    </b-container>
    <Footer />
  </div>
</template>

<script>
import axios from 'axios'
import Footer from '~/components/Footer.vue'

export default {
  components: {
    Footer
  },
  validate({ params }) {
    return !isNaN(+params.id)
  },
  async asyncData({ params, error }) {
    const { data } = await axios.get(
      `https://drupal.ist/api/makalelertek/${+params.id}?_format=json`
    )
    return { article: data[0] }
  }
}
</script>
