<template>
  <div id="app" class="vue-main">
    <b-container>
      <b-row>
        <b-col>
          <h1>Articles</h1>
          <b-button :to="'/'">Home</b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <div>
            <ul class="list-unstyled">
              <b-media
                v-for="(article, id) in articles"
                :key="id"
                tag="li"
                class="my-4"
              >
                <b-img
                  slot="aside"
                  :src="'https://drupal.ist/' + article.image"
                  :alt="article.image_alt | trim"
                />

                <h2>
                  <nuxt-link :to="`/article/` + article.id">
                    {{ article.title }}
                  </nuxt-link>
                </h2>
                <p class="lead text-muted">
                  <strong>Yazan:</strong>
                  {{ article.yazar }}
                </p>
                <p class="lead text-muted">
                  <strong>Tarih:</strong>
                  {{ article.created }}
                </p>

                <p v-html="article.summary"></p>

                <nuxt-link :to="article.link">Test path alias</nuxt-link>
                <!-- b-[Optional: add media children here for nesting] -->
              </b-media>
            </ul>
            <!-- <ul>
              <li v-for='article in articles' :key='article' class='item'>
                <nuxt-link :to=''/article/' + article.id'>
                  {{ article.title }}
                </nuxt-link>
              </li>
            </ul>-->
          </div>
        </b-col>
      </b-row>
    </b-container>
    <Footer />
  </div>
</template>

<script>
import axios from 'axios'
import Footer from '~/components/Footer.vue'

export default {
  components: {
    Footer
  },
  title: 'Hey there',
  async asyncData() {
    const myTime = Date.now()
    const { data } = await axios.get(
      'https://drupal.ist/api/makaleler?_format=json&_=' + myTime
    )
    return { articles: data }
  }
}
</script>
