<template>
  <div class="vue-main">
    <b-container>
      <b-row>
        <b-col>
          <h1>This is my first nuxt.js application</h1>

          <p class="lead">
            Fetching dynamic data from
            <a href="https://jsonplaceholder.typicode.com" target="_blank"
              >JSONPlaceholder</a
            >.
          </p>

          <p>
            You can visit and contribute to
            <a href="https://gitlab.com/kburakozdemir/nuxt-test" target="_blank"
              >GitLab repository</a
            >
          </p>

          <b-button :to="'/articles'">Articles</b-button>
        </b-col>
      </b-row>
    </b-container>
    <b-container>
      <b-row>
        <b-col>
          <br />
          <br />
          <br />
          <h2>Netlify Form Test</h2>
          <form
            name="contact"
            method="POST"
            netlify-honeypot="bot-field"
            action="/success/"
            netlify
          >
            <p class="hidden">
              <label>
                Don’t fill this out if you're human:
                <input name="bot-field" />
              </label>
            </p>
            <p>
              <label>
                Email:
                <input type="text" name="email" />
              </label>
            </p>
            <p>
              <label>
                Message:
                <textarea name="message"></textarea>
              </label>
            </p>
            <p>
              <button type="submit">Send</button>
            </p>
          </form>
        </b-col>
      </b-row>
    </b-container>
    <Footer />
  </div>
</template>
<script>
import Footer from '~/components/Footer.vue'

export default {
  components: {
    Footer
  }
}
</script>

<style>
/*! debug.css v0.0.1 | MIT License | zaydek.github.com/debug.css */
/* :not(g):not(path) {
  color: hsla(210, 100%, 100%, 0.9) !important;
  background: hsla(210, 100%, 50%, 0.5) !important;
  outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

  box-shadow: none !important;
  filter: none !important;
} */
</style>
